<h3>ModalDatosCliente_NuevaVenta</h3>

@code {
    //ESTÁ VACIO NO HACE NADA. 
        //Originalmente se iba a colocar en el modal nueva venta para colocar la info del cliente por cada venta
    //pero no hay tiempo para hacer eso ahora mismo.
}
